<div class="detail">

  <div>
    <mat-form-field class="detail__field">
      <mat-label>Nombres</mat-label>
      <input matInput type="text" [formControl]="nameFormControl" readonly/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="detail__field">
      <mat-label>Apellidos</mat-label>
      <input matInput type="text" [formControl]="lastNameFormControl" readonly/>
    </mat-form-field>
  </div>

  <mat-form-field class="login__email">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ej. pat@ejemplo.com" readonly/>
    @if (emailFormControl.hasError('email') &&
    !emailFormControl.hasError('required')) {
    <mat-error>Ingresa un correo válido</mat-error>
    } @if (emailFormControl.hasError('required')) {
    <mat-error>El email es <strong>necesario</strong></mat-error>
    }
    <mat-icon matSuffix>mail</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Roles del Usuario</mat-label>
    <mat-chip-grid #chipGrid>
      @for (role of roles(); track $index) {
        <mat-chip-row (removed)="remove(role)">
          {{role}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <input
      name="currentRole"
      placeholder="Nuevo Rol"
      #RoleInput
      [(ngModel)]="currentRole"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      @for (role of filteredRoles(); track role) {
        <mat-option [value]="role">{{role}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

</div>
