<div class="container">
  <form action="">
    <div class="login">
      <h3>Iniciar Sesión</h3>
      <div class="login__icons">
        <a href=""><i class="fa-brands fa-google"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-github"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
      </div>

      <mat-form-field class="login__email">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" placeholder="Ej. pat@ejemplo.com">
        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
        <mat-error>Ingresa un correo válido</mat-error>
        }
        @if (emailFormControl.hasError('required')) {
        <mat-error>El email es <strong>necesario</strong></mat-error>
        }
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>

      <mat-form-field class="login__password">
        <mat-label>Ingrese su contraseña</mat-label>
        <input matInput [formControl]="passwordFormControl" [type]="hide() ? 'password' : 'text'" />
        <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()">
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if (passwordFormControl.hasError('required')) {
        <mat-error>La contraseña es <strong>necesaria</strong></mat-error>
        }
      </mat-form-field>
      <button>Iniciar sesión</button>
      <span><a href="">Olvidé mi contraseña</a> | <a [routerLink]="'../sign-up'">Registrarse</a></span>
    </div>
  </form>
</div>
