<section class="card">
  @if (characterDetail$ | async; as characterDetail) {
    <mat-card appearance="outlined">
      <mat-card-header>
        <img mat-card-avatar src="{{characterDetail.image}}" alt="Photo">
        <mat-card-title>{{characterDetail.name}}</mat-card-title>
        <mat-card-subtitle>{{characterDetail.species}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="content">
        <div class="content__image">
          <img mat-card-image src="{{characterDetail.image}}" alt="Photo">
        </div>
        <div class="content__detail">
          <mat-list>
            <mat-list-item>
              <span matListItemTitle><strong>Status</strong></span>
              <span matListItemLine>{{characterDetail.status}}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle><strong>Gender</strong></span>
              <span matListItemLine>{{characterDetail.gender}}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle><strong>Origin</strong></span>
              <span matListItemLine>{{characterDetail.origin.name}}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle><strong>Location</strong></span>
              <span matListItemLine>{{characterDetail.location.name}}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle><strong>Created</strong></span>
              <span matListItemLine>{{characterDetail.created | date:'longDate'}}</span>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card-content>
    </mat-card>
  }
</section>

<section class="notes">

  <div class="notes__text" [formGroup]="textNote">
    <textarea type="area" formControlName="textNoteArea" placeholder="Ingresa una nota"></textarea>
    <button mat-fab extended (click)="addNote()">
      <mat-icon>add</mat-icon>
      Agregar nota
    </button>
  </div>

  <div class="notes__list">
    @for (item of listNotes; track item; let i = $index) {
      <mat-card appearance="raised" class="notes__card">
        <mat-card-header>
          <span>{{item}}</span>
          <i (click)="deleteNote(i)"><mat-icon matSuffix>close</mat-icon></i>
        </mat-card-header>
      </mat-card>
    }
  </div>

</section>
