:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;

  .container {
    display: flex;
    flex-direction: column;
    width: 1500px;
    gap: 50px;

    .list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      height: 500px;

      &>a {
        text-decoration: none;
        color: inherit;

        &>:hover {
          background-color: rgb(199, 216, 241);
          border-radius: 12px;
        }
      }

      &__card {
        width: 350px;
        padding: 8px;

        &--image {
          background-size: cover;
        }

        &--tittle {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          width: 230px;
        }
      }
    }

    .paginator {
      display: flex;
      justify-content: end;
      gap: 20px;

      &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        font-size: 14px;
        margin-left: 8px;
        min-width: 120px;
        background-color: rgb(213, 204, 255);
      }
    }
  }
}
